In [ ]:
#Instalamos libreria faker para la creacion de datos aleatorios
!pip install Faker

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: Faker in /usr/local/lib/python3.7/dist-packages (15.3.2)
Requirement already satisfied: typing-extensions>=3.10.0.1 in /usr/local/lib/python3.7/dist-packages (from Faker) (4.1.1)
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.7/dist-packages (from Faker) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.4->Faker) (1.15.0)

In [ ]:
#Importamos las librerias necesarias para la generación de datos.
import pandas as pd
import uuid
import random
from faker import Faker
import datetime

In [ ]:
#Creacion de variable para los 5000 datos
clientes = 5000

In [ ]:
# Una lista de 6 atributos
features = [
    "IdCliente",
    "GeneroC",
    "NombreCl",
    "CorreoCl",
    "TelefonoCl",
    "TipoCl",
]# Creamos un DF de los atributos
df = pd.DataFrame(columns=features)

In [ ]:
df['IdCliente'] = [uuid.uuid4().hex for i in range(clientes)]

In [ ]:
#Hacer que los ID sean unicos para cada usuario.
print(df['IdCliente'].nunique()==clientes)

True

In [ ]:
#Variables
GeneroC = ["Masculino", "Femenino"]

In [ ]:
#Generación de los nombres de los usuarios.
df['GeneroC']= random.choices(
    GeneroC, 
    weights=(50,50), 
    k=clientes
)

In [ ]:
#Instancia Faker
faker = Faker()
#Creamos una función.
def name_gen(GeneroC):
    """
    Generamos los distintos nombres para los usuarios.
    -------
    Retorna el nombre del usuario
    """
    #En caso de que el genero sea hombre nos retornara un nombre masculino
    if GeneroC=='Masculino':
        return faker.name_male()
    #En caso de que el genero sea mujer nos retornara un nombre femenino
    elif GeneroC=='Femenino':
        return faker.name_female()
    
    return faker.name()#Generamos los nombres de los usuarios
#Guardamos los nombres de los usuarios en todo el atributo
df['NombreCl'] = [name_gen(i) for i in df['GeneroC']]

In [ ]:
def emailGen(name, duplicateFound=False):
    """
    Genera una dirección de correo electrónico aleatoria basada en el nombre dado.
    
    """
    # Dominio para usar
    dom = "@taxi.ruta.com"
    
    # Minusculas y division
    name = name.lower().split(" ")
    #Caracteres random en el correo
    chars = [".", "_"]
    
    new_name = name[0] + random.choice(chars) + name[1] 
    
    #Distinguir para los duplicados de los correos
    if duplicateFound:
        #Numero aleatorio para insertar al final
        num = random.randint(0,100)
        #Insertar al final
        new_name = new_name + str(num)
    #Devolver la dirección de correo electrónico
    return new_name + dom

In [ ]:
#Variable para los correos electrónicos
emails = []

for NombreCl in df['NombreCl']:
    
    # Generamos el correo
    email = emailGen(NombreCl)
    # Bucle hasta que se genera un correo electrónico único
    while email in emails:
        # Crear un correo electrónico con un número aleatorio
        email = emailGen(NombreCl, duplicateFound=True)
    
    # Adjuntar el nuevo correo 
    emails.append(email)
    
df['CorreoCl'] = emails #Guardamos los correos

In [ ]:
import random as r
from random import seed
from datetime import datetime
#Variable numero como string
numero=[]
size = 10
for i in range(0, clientes): #Generación de números de teléfonos
  random.seed(datetime.now())
  valores = [0,1,2,3,4,5,6,7,8,9]#Números por los cual puede formarse la cadena
  numero=(''.join([str(random.choice(valores)) for i in range(size)]))#Creación de los numeros
  df.TelefonoCl[i]=numero#Guardamos

In [ ]:
#Los diferentes tipos de usuario
TipoCl = ['Menor de edad','Jovenes','Tercera Edad'] 
df['TipoCl'] = random.choices( 
    TipoCl, 
    weights=(35,35,40), #Porcentaje de aleatoriedad
    k=clientes
)

In [ ]:
#Guardamos todos los datos junto con sus atributos en un archivo csv.
df.to_csv('clientes.csv')
df.head(10)

,IdCliente,GeneroC,NombreCl,CorreoCl,TelefonoCl,TipoCl
0,8b7d6ce6598442eea018eb98e854b0f8,Femenino,Elizabeth Miller,elizabeth.miller@taxi.ruta.com,8820451937,Menor de edad
1,e9816a62b0d14827b07e749e4564ecb8,Masculino,Ryan Bridges,ryan_bridges@taxi.ruta.com,4707016882,Tercera Edad
2,ed67a8d997674640a0fe1eeb67efcd35,Masculino,Richard Santos,richard.santos@taxi.ruta.com,9807477145,Jovenes
3,2b157cd283d644feb29dc62cf593ccb8,Femenino,Denise Davies,denise_davies@taxi.ruta.com,5784861269,Tercera Edad
4,d2f4abd4df9a4ce7af4811349ba85ceb,Femenino,Kathleen Graves,kathleen.graves@taxi.ruta.com,7068186128,Jovenes
5,bcbcd41e0be841e189884a8e8342e96d,Femenino,Diana Brown,diana.brown@taxi.ruta.com,7350728028,Jovenes
6,3d2d9a3702ea4523b8cc5824c3fcbce7,Femenino,Jennifer Kelly,jennifer.kelly@taxi.ruta.com,2630069773,Tercera Edad
7,acda93f8469a4b08bc1abac0ad0fcf01,Femenino,Donna David,donna.david@taxi.ruta.com,7114829420,Jovenes
8,d421edbdf15346a4a3de5093c1a25861,Femenino,Roberta Carr,roberta_carr@taxi.ruta.com,2884787367,Tercera Edad
9,a320d2c6876243a3b8e562895828cd84,Femenino,Samantha Sheppard,samantha.sheppard@taxi.ruta.com,6204526335,Tercera Edad