In [ ]:
#Instalamos libreria faker para la creacion de datos aleatorios
!pip install Faker

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: Faker in /usr/local/lib/python3.7/dist-packages (15.3.2)
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.7/dist-packages (from Faker) (2.8.2)
Requirement already satisfied: typing-extensions>=3.10.0.1 in /usr/local/lib/python3.7/dist-packages (from Faker) (4.1.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.4->Faker) (1.15.0)

In [ ]:
import pandas as pd
import uuid
import random
from faker import Faker
import datetime

In [ ]:
cooptaxi = 5000

In [ ]:
#Atributos 5 
features = [
    "IdCoop",
    "NombreCoop",
    "TelefonoCoop",
    "CorreoCoop",
    "DescripcionCoop",
]# Creamos un DF de los atributos
df = pd.DataFrame(columns=features)

In [ ]:
#Guardamos en la columna Id los id
df['IdCoop'] = [uuid.uuid4().hex for i in range(cooptaxi)]

In [ ]:
print(df['IdCoop'].nunique()==cooptaxi)

True

In [ ]:
genero = ["male", "female"]

In [ ]:
df['genero']= random.choices(
    genero, 
    weights=(70,30), 
    k=cooptaxi
)

In [ ]:
#Instancia Faker
faker = Faker()
#Creamos una función.
def name_gen(genero):
    """
    Generamos los distintos nombres de taxis dependiendo el genero 
    asignado mediante la instancia faker.

    Parámetros

    Return
    -------
    Retorna los nombres de los taxistas
    """
    #En caso de que el genero sea hombre nos retornara un nombre masculino
    if genero=='male':
        return faker.name_male()
    
    return faker.name()#Generamos los nombres
#Guardamos los nombres
df['NombreCoop'] = ["TAXI "+name_gen(i) for i in df['genero']]

In [ ]:
#Importamos las librerias necesarias para generar numeros aleatorios
import random as r
from random import seed
from datetime import datetime
#Variable numero como string
numero=[]
size = 10

for i in range(0, cooptaxi): #Generación de números de teléfonos
  random.seed(datetime.now())
  valores = [0,1,2,3,4,5,6,7,8,9] #Números por los cual puede formarse la cadena
  numero=(''.join([str(random.choice(valores)) for i in range(size)]))#Creación de los numeros
  df.TelefonoCoop[i]=numero #Guardamos los numeros de telefono

In [ ]:
#Creación de función
def emailGen(name, duplicateFound=False):
    """
    Genera una dirección de correo electrónico aleatoria basada en el nombre dado.
    """
    # Dominio para usar
    dom = "@taxi.com"
    # Minusculas y division
    name = name.lower().split(" ")
    #Caracteres random en el correo
    chars = [".", "_"]
    
    new_name = name[0] + random.choice(chars) + name[1] 
    #Distinguir para los duplicados de los correos
    if duplicateFound:
        
        #Numero aleatorio para insertar al final
        num = random.randint(0,100)
        #Insertar al final
        new_name = new_name + str(num)
    #Devuelve la direccion con el correo adjunto
    return new_name + dom

In [ ]:
#Variable para los correos electrónicos como string
emails = []

for NombreCoop in df['NombreCoop']: 
    # Generamos el correo
    email = emailGen(NombreCoop)
    # Bucle hasta que se genera un correo electrónico único
    while email in emails:
        # Crear un correo electrónico con un número aleatorio
        email = emailGen(NombreCoop, duplicateFound=True)
    # Adjuntar el nuevo correo electrónico a la lista
    emails.append(email)
df['CorreoCoop'] = emails #Guardamos los correos

In [ ]:
#Importamos las librerias necesarias
import string
import random
#Creamos una variable
bio=[]
length_of_string = 20

for i in range(0, cooptaxi):#Creamos la descripcion de la Coop
  random.seed(datetime.now())
  #La descripcion contendra todo tipo de caracteres.
  bio=('Cooperativa Taxis Rutas')
  #Guardamos la descripcion en el atributo 
  df.DescripcionCoop[i] =bio

In [ ]:
#borra el genero ya que no se necesita en esta entidad.
del(df['genero'])

In [ ]:
#Guardamos todos los datos junto con sus atributos en un archivo csv.
df.to_csv('cooptaxi.csv')
df.head(5)

,IdCoop,NombreCoop,TelefonoCoop,CorreoCoop,DescripcionCoop
0,04e4f8a98bc1423a81f718542e2f0c31,TAXI Tommy Lambert,6763902280,taxi.tommy@taxi.com,Cooperativa Taxis Rutas
1,fa333c5a4a194e9f8fbbaee785461e3a,TAXI Darlene Morris,2687193981,taxi.darlene@taxi.com,Cooperativa Taxis Rutas
2,5812f2a0bedd4ed38158c04fea75661d,TAXI Nicholas Long,5065697793,taxi_nicholas@taxi.com,Cooperativa Taxis Rutas
3,5b7577a4c5f5442ea117c32a605149b1,TAXI Jesse Miller,0802308062,taxi_jesse@taxi.com,Cooperativa Taxis Rutas
4,ac6da6fe2c1643a39c9629d1fd3fc16f,TAXI Edward Mills MD,5558062982,taxi.edward@taxi.com,Cooperativa Taxis Rutas