In [ ]:
#Instalamos libreria faker para la creacion de datos aleatorios
!pip install Faker

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: Faker in /usr/local/lib/python3.7/dist-packages (15.3.2)
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.7/dist-packages (from Faker) (2.8.2)
Requirement already satisfied: typing-extensions>=3.10.0.1 in /usr/local/lib/python3.7/dist-packages (from Faker) (4.1.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.4->Faker) (1.15.0)

In [ ]:
#Importamos las librerias necesarias para la generación de datos.
import pandas as pd
import uuid
import random
from faker import Faker
import datetime

In [ ]:
#Creacion de variable para los 5000 datos
unidadestaxi = 5000

In [ ]:
# Una lista de 4 atributos
features = [
    "IdUTaxi",
    "NombreUTaxi",
    "TelefonoUTaxi",
    "StatusUTaxi",
]# Creamos un DF de los atributos
df = pd.DataFrame(columns=features)

In [ ]:
df['IdUTaxi'] = [uuid.uuid4().hex for i in range(unidadestaxi)]

In [ ]:
#Hacer que los ID sean unicos para cada usuario.
print(df['IdUTaxi'].nunique()==unidadestaxi)

True

In [ ]:
#Variables
GeneroT = ["Masculino", "Femenino"]

In [ ]:
#Generación de los nombres de los usuarios.
df['GeneroT']= random.choices(
    GeneroT, 
    weights=(50,50), 
    k=unidadestaxi
)

In [ ]:
#Instancia Faker
faker = Faker()
#Creamos una función.
def name_gen(GeneroT):
    """
    Generamos los distintos nombres para los usuarios.
    -------
    Retorna el nombre del usuario
    """
    #En caso de que el genero sea hombre nos retornara un nombre masculino
    if GeneroT=='Masculino':
        return faker.name_male()
    #En caso de que el genero sea mujer nos retornara un nombre femenino
    elif GeneroT=='Femenino':
        return faker.name_female()
    
    return faker.name()#Generamos los nombres de los usuarios
#Guardamos los nombres de los usuarios en todo el atributo
df['NombreUTaxi'] = [name_gen(i) for i in df['GeneroT']]

In [ ]:
import random as r
from random import seed
from datetime import datetime
#Variable numero como string
numero=[]
size = 10
for i in range(0, unidadestaxi): #Generación de números de teléfonos
  random.seed(datetime.now())
  valores = [0,1,2,3,4,5,6,7,8,9]#Números por los cual puede formarse la cadena
  numero=(''.join([str(random.choice(valores)) for i in range(size)]))#Creación de los numeros
  df.TelefonoUTaxi[i]=numero#Guardamos

In [ ]:
# Verificamos el estado de la licencia.
StatusUTaxi = ["Disponible", "No Disponible"]

In [ ]:
df['StatusUTaxi']= random.choices(
    StatusUTaxi, 
    weights=(90,10), 
    k=unidadestaxi
)

In [ ]:
#Guardamos todos los datos junto con sus atributos en un archivo csv.
del(df['GeneroT'])
df.to_csv('unidadestaxi.csv')
df.head(10)

                            IdUTaxi      NombreUTaxi TelefonoUTaxi StatusUTaxi
0  e96a87da060d4759a4c36c7c47d91143   Miguel Santana    2963139700  Disponible
1  b22c7ad293624965bff9b8427066eb8b  Andrew Randolph    0925747304  Disponible
2  3ece2283ab054cfd8a3af48b7f4a246f      Kevin Salas    8593608663  Disponible
3  f87e403629d840b69b3eb15ba53a32ea      Amanda Lang    7443406012  Disponible
4  997d9217d6ec4680b4c90e2644414183      Megan Davis    8614310026  Disponible
5  cf28452eecbc432d98933bda4e4cfdc2       Brent Hill    6128175708  Disponible
6  839ba66d91fd46e4af98244717641035     David Garcia    5359681200  Disponible
7  cc4ab8d0c7f249d09c2668a25efe82f7   Kevin Schaefer    8780373495  Disponible
8  1374a9a8c266405b9253132b3f81bfad     Derek Kelley    7386184617  Disponible
9  f53628ee6aab418bb6d939889bcc42e8    David Sanders    5510494102  Disponible