In [ ]:
#Instalamos libreria faker para la creacion de datos aleatorios
!pip install Faker

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: Faker in /usr/local/lib/python3.7/dist-packages (15.3.2)
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.7/dist-packages (from Faker) (2.8.2)
Requirement already satisfied: typing-extensions>=3.10.0.1 in /usr/local/lib/python3.7/dist-packages (from Faker) (4.1.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.4->Faker) (1.15.0)

In [ ]:
import pandas as pd
import uuid
import random
from faker import Faker
import datetime

In [ ]:
num_usuarios = 5000

In [ ]:
# Una lista de 6 atributos
features = [
    "IdUsuario",
    "NombreU",
    "GeneroU",
    "TelefonoU",
    "CorreoU",
    "LicenciaU",
]# Creamos un DF de los atributos
df = pd.DataFrame(columns=features)

In [ ]:
#Generacion de ID unicos
df['IdUsuario'] = [uuid.uuid4().hex for i in range(num_usuarios)]

In [ ]:
print(df['IdUsuario'].nunique()==num_usuarios)

True

In [ ]:
#INSTANCIA FAKER
#Para crear nombres de los usuarios tanto hombres como mujeres.
faker = Faker()

def name_gen(genero):
    """
    Generamos los distintos nombres de los usuarios
    """
    if genero=='male': #Genero Masculino
        return faker.name_male()
    elif genero=='female': #Genero Femenino
        return faker.name_female()
    
    return faker.name()#Creamos los nombres para cada usuario
df['NombreU'] = [name_gen(i) for i in df['GeneroU']]

In [ ]:
#Defino variable GeneroU para determinar si el masculino o femenino
GeneroU = ["male", "female"]

In [ ]:
df['GeneroU']= random.choices(
    GeneroU, 
    weights=(60,40), 
    k=num_usuarios
)

In [ ]:
# Importamos las librerias
import random as r
from random import seed
from datetime import datetime
numero=[]
size = 10
# Definimos un rango de numeros que se va a generar.
for i in range(0, num_usuarios):
  random.seed(datetime.now())
  valores = [0,1,2,3,4,5,6,7,8,9]
  numero=(''.join([str(random.choice(valores)) for i in range(size)]))
  df.TelefonoU[i]=numero

In [ ]:
def emailGen(name, duplicateFound=False):
    """
    Genera una dirección de correo electrónico aleatoria basada en el nombre dado.
     Agrega un número al final si se encuentra una dirección duplicada.
    """
    # Dominio para usar
    dom = "@taxi.ruta.com"
    # Minusculas y division
    name = name.lower().split(" ")
    #Caracteres en el correo
    chars = [".", "_"]
    new_name = name[0] + random.choice(chars) + name[1] 
    #Distinguir para los duplicados de los correos
    if duplicateFound:
        #Numero aleatorio para insertar al final
        num = random.randint(0,100)
        #Insertar al final
        new_name = new_name + str(num)
    #Devuelve la direccion de correo creada
    return new_name + dom

In [ ]:
#Generacion de correos.
emails = []
for NombreU in df['NombreU']:
    # Generamos el correo
    email = emailGen(NombreU)
    # Bucle que genera un correo unico
    while email in emails:
      #Creamos un correo con un numero cualquiera
        email = emailGen(NombreU, duplicateFound=True)
    # Adjunta el nuevo correo a la lista
    emails.append(email)
    
df['CorreoU'] = emails

In [ ]:
# Verificamos el estado de la licencia.
LicenciaU = ["Activo", "Inactivo"]

In [ ]:
df['LicenciaU']= random.choices(
    LicenciaU, 
    weights=(90,10), 
    k=num_usuarios
)

In [ ]:
#Creacion del archivo 
df.to_csv('usuarios.csv')
df.head(10)

,IdUsuario,NombreU,GeneroU,TelefonoU,CorreoU,LicenciaU
0,f37ddfc859ac467caf4d532ab50abc22,Mark Bowen,male,2868756139,mark_bowen@taxi.ruta.com,Activo
1,17b29721df9c418285721ede1f83d8e1,Amanda Gardner,female,1449944340,amanda.gardner@taxi.ruta.com,Inactivo
2,964f80a7bf39494fa3fa01528133a212,Taylor Murray,female,6104853698,taylor_murray@taxi.ruta.com,Activo
3,1bf9f9542a724ba08f7bf5d9d485cc49,Bethany Johnson,female,2825232814,bethany.johnson@taxi.ruta.com,Activo
4,70fbfa46509143cca55d01bb1d6ec0fe,Ms. Amber Cruz,female,5716272479,ms..amber@taxi.ruta.com,Activo
5,c51b7b0f071140bf8f65e873abb4b72f,Courtney Collins,male,7029132931,courtney.collins@taxi.ruta.com,Inactivo
6,84eb0b4db3764fa682d5bdea912188fe,Kathryn Ellison,male,7431308137,kathryn_ellison@taxi.ruta.com,Activo
7,4d5a6e044eac4cc28dc8d1e03dff3d3b,Whitney Johnson,male,9540743749,whitney_johnson@taxi.ruta.com,Activo
8,f9acb4d841794025b34097e0afee6302,John Moran,male,7416013088,john_moran@taxi.ruta.com,Activo
9,65676037cfc546cd9d7bdbccf93b64d7,Jason Weber,male,4534573842,jason.weber@taxi.ruta.com,Activo